:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: rgb(21, 21, 21);
  --blue-color: #2bc5cd;
  --orange-color: #ff693d;
  --border: 2px solid var(--blue-color);
  --spacing-max: 28px;
  --spacing-min: 1vw; /*como el width es el 98% intentamos que el padding ocupe el 2% restante y asi no tener scroll horizontal*/
  --radius: 10px;
  --typo-sm: 18px;
  --typo-md: 24px;
  --typo-xl: 34px;
  --border-trial: 2px solid red;
  font-family: Arial, Helvetica, sans-serif;
}

/* reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 98vw;
  min-height: 100vh;
  padding: var(--spacing-min);
  margin: auto; /*centrar el contenido en el espacio disponible*/
  display: grid;
  gap: var(--spacing-max);
  /* incialmente el minmax usaba unidades absolutas, pero de esa forma las imagenes quedaban  cortadas ya que excedian el ancho de la pantalla entonces habria que disminuir su ancho, pero la proporcion es dificil de mantener usando unidades absolutas asi que usamos unidades relativas  */
  grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
  grid-template-rows: repeat(6, minmax(20vh, 1fr));
}

header {
  padding: var(--spacing-max);
  display: grid;
  background-color: var(--blue-color);
  color: var(--primary-color);
  grid-column: 1 / 3;
  grid-row: 1 / 5;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

header > h1 {
  grid-column: 1 / 2;
  grid-row: 1 /2;
  align-self: start;
  justify-self: start;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: var(--typo-xl);
}

header > p {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  text-align: justify;
  font-size: var(--typo-sm);
  align-self: center;
}

.school {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
}

.student {
  grid-column: 5 / 7;
  grid-row: 1 / 3;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
}

main {
  border: 2px solid var(--blue-color);
  grid-column: 3 / 5;
  grid-row: 3 / 5;
  display: grid;
  justify-content: center;
  align-content: center;
  /* el h2 tambien pudo haberse alineado usando align-self y justify-self */
}

main > h2 {
  color: var(--blue-color);
  text-transform: uppercase;
  font-size: var(--typo-md);
  /* align-self: center; */
  /* justify-self: center; */
}

.time {
  grid-column: 5 / 7;
  grid-row: 3 / 5;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
}

.alumni {
  grid-column: 1 / 3;
  grid-row: 5 / 7;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
}

footer {
  grid-column: 3 / 7;
  grid-row: 5 / 7;
  background-color: var(--orange-color);
  color: var(--primary-color);
  /* display: grid; */
  padding: var(--spacing-max);
}

footer > h3 {
  font-size: var(--typo-md);
}

footer > p {
  font-size: var(--typo-sm);
  text-align: justify;
  margin: var(--spacing-max) 0px;
}

button {
  width: 8svw;
  padding: var(--spacing-min);
  border-radius: var(--radius);
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

button:hover {
  background-color: rgb(255, 202, 182);
  transform: scale(1.1);
}

.alumni,
.school,
.student,
.time {
  background-size: cover;
}

@media (max-width: 900px) {
  :root {
    --spacing-max: 20px;
    --spacing-min: 15px;
    --radius: 10px;
    --typo-sm: 14px;
    --typo-md: 18px;
    --typo-xl: 23px;
    --grid-column: 1 / 3;
  }

  body {
    max-width: 95vw;
    grid-template-rows: repeat(13, 1fr);
    margin: auto;
  }

  header {
    grid-column: var(--grid-column);
    grid-row: 1 / 3;
  }

  header > h1 {
    letter-spacing: 0px;
  }

  .school {
    grid-column: var(--grid-column);
    grid-row: 3 / 5;
  }
  .student {
    grid-column: var(--grid-column);
    grid-row: 5 / 7;
  }

  main {
    grid-column: var(--grid-column);
    grid-row: 7 / 9;
  }

  .time {
    grid-column: var(--grid-column);
    grid-row: 9 / 11;
  }

  .alumni {
    grid-column: var(--grid-column);
    grid-row: 11 / 13;
  }

  footer {
    grid-column: var(--grid-column);
    grid-row: 13 / 14;
  }
  footer > button {
    width: 300px;
  }
}

@media (max-width: 667px) {
  :root {
    --spacing-max: 20px;
    --spacing-min: 15px;
    --radius: 10px;
    --typo-sm: 14px;
    --typo-md: 17px;
    --typo-xl: 23px;
    --grid-column: 1 / 2;
  }
  body {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(
      auto-fit,
      minmax(0, 1fr)
    ); /*con el 0 indicamos que la fila puede desaparecer si no hay contenido*/
  }

  header {
    grid-row: 1 / 2;
  }

  header > h1 {
    letter-spacing: 0px;
  }

  .school {
    grid-column: var(--grid-column);
    grid-row: 2 / 3;
  }

  .student {
    grid-column: var(--grid-column);
    grid-row: 3 / 4;
  }

  main {
    grid-column: var(--grid-column);
    grid-row: 4 / 5;
    padding: 3vw;
  }

  .time {
    grid-column: var(--grid-column);
    grid-row: 5 / 6;
  }

  .alumni {
    grid-column: var(--grid-column);
    grid-row: 6 / 7;
  }

  footer {
    grid-column: var(--grid-column);
    grid-row: 7 / 8;
  }
  footer > button {
    width: 300px;
  }
}
